<section class="col-6">


  <% @users.each.with_index(1) do |user, i| %>
    <p><%= i %>. <%= link_to user.email, user_path(user) %><br />
      <p>Permission level: <%= user.role %></p>
      <%= link_to "Edit", edit_user_registration_path %>
    <%= link_to "Delete", "/users/#{user.id}", method: "delete" %></p>
  <% end %>
</section>
