<div class="wrapper clearfix">

  <section class="col-4 first" id="news">
    Top Headlines from: <br />
    <%= render partial: '/news/news', local: {current: @current} %>
  </section>

  <section class="col-2">
    <div class="post-spacer">
      <div id="posts">
        <% if user_signed_in? && current_user.admin? %>
          <%= link_to "ADD NEW POST", new_post_path %>
        <% end %>

        <%= form_tag("/posts", method: "get") do %>
          <p>Filter by topic: <%= select_tag "tag", options_from_collection_for_select(@tags, "id", "name"), include_blank: true %> <%= submit_tag "Filter" %></p>
        <% end %>

      </div>
      <% if user_signed_in? %>

        <% @posts.each do |post| %>
          <h4 id="posts"><%= link_to post.title, post_path(post) %></h4>

          <div class="thumbnail">
            <%= link_to image_tag(post.image.url(:med)), post.image.url %>
          </div>

          <h5><%= post.summary %><br>
          <%= post.post_date %></h5><br />
        <% end %>

      <% else %>

        <% @posts.each do |post| %>
          <h4 id="posts"><%= link_to post.title, new_user_registration_path %></h4>

          <div class="thumbnail">
            <%= image_tag(post.image.url(:med)) %>
          </div>

          <h5><%= post.summary %><br>
          <%= post.post_date %></h5><br />
        <% end %>

      <% end %>
    </div>
  </section>

  <section class="col-1 first">
    <a class="twitter-timeline" data-height="700" href="https://twitter.com/world_macro">Tweets by world_macro</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </section>
</div>
