<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <title>World Macro</title>
    <!-- <link rel="icon" href="/images/wmlogosymbol.png"> -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.0/normalize.min.css">
    <link rel="stylesheet" href="/stylesheets/css/bstpstyle.css">
    <link rel="stylesheet" href="/stylesheets/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/responsive.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
    <style>
      @import 'https://fonts.googleapis.com/css?family=Audiowide';
      </style>
  </head>

  <body>
    <!-- <div id="social">
      <a class="twit" href="http://twitter.com/world_macro" title="Twitter">Twitter</a>
      <a class="fbook" href="#" title="Facebook">Facebook</a>
      <!-- <a class="gplus" href="#" title="Google Plus">Google Plus</a> -->
    <!-- </div> --> -->

    <div class="fintimes">
      <header class="medium-fade">
        <div class="wrapper">
          <div id="logo" class="shadow">
            <h1>WORLD MACRO</h1>
            <h2>WORLD MACRO</h2>
            <div id="login">
              <a href="#">Login</a>
            </div>
            <div id="signup">
              <a href="#">Signup</a>
            </div>

          </div>
        </div><!-- .wrapper -->
        <div id="navbar" class="light-fade">
          <div class="wrapper">
            <nav class="clearfix">
              <a class="selected" href="/">Home</a><a href="/positions">Trades</a><a href="#">Insights</a><a href="#">Game</a><a href="#">Contact</a><a href="https://www.federalreserve.gov/monetarypolicy/fomccalendars.htm" target="_blank">F.O.M.C.</a><a class="menu-icon">&#9776;</a>
            </nav>
          </div><!-- .wrapper -->
        </div><!-- #navbar -->
      </header>


      <div class="wrapper clearfix">

        <section class="col-4">
          <h4><a href="#">TOP HEADLINES</a></h4>
            <% Post.new.list_headlines.each do |k, v| %>
              <p id="news"><a id="news" href="<%= v %>" target="_blank">>> <%= "#{k}" %></a></p>
            <% end %>
        </section>

        <section class="col-2">
          <div>

          <% @posts.each do |post| %>
            <h4 id="posts"><a id="posts" href="/posts/<%= post.id %>"><%= post.title %></a></h4>
            <%= image_tag(post.picture_url(:thumbnail), :width => 50, :height => 50) %>
            <h5><%= post.summary %><br>
            <%= post.post_date %></h5>
          <% end %><br />
          </div>
        </section>

        <section class="col-1 first">
          <a class="twitter-timeline" data-height="500" href="https://twitter.com/world_macro">Tweets by world_macro</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </section>

        <!-- <figure>
          <img src="/stylesheets/images/Buxlst_61716.jpg" alt="Buxl Daily" title="Evening Star">
          <figcaption>CQG Inc. 2016 All rights reserved.</figcaption>
          <img src="/stylesheets/images/Buxl_61716.jpg" alt="Buxl Daily" title="Evening Star">
          <figcaption>CQG Inc. 2016 All rights reserved.</figcaption>
        </figure> -->



      </div>

    </div>
  </body>
</html>
