<div class="wrapper clearfix">

  <section class="col-4 first" id="news">
    Top Headlines from: <br />
    <%= render partial: '/news/news', local: {current: @current} %>
  </section>

  <section class="col-2">
    <div class="post-spacer">
      <div id="posts">
        <% if user_signed_in? && current_user.admin? %>
          <%= render partial: 'form', locals: {post: @post} %>
        <% end %>


      </div>
      <% if user_signed_in? %>

        <% @posts.each do |post| %>
        <div class="col-md-12">

          <div class="thumbnail mt8">
            <% post.uploads.each_with_index do |upload, i| %>
              <% if i == 0 %>
                <%= image_tag(upload.uploaded_file.url(:med)) %>
              <% end %>
            <% end %>
          </div>

          <h4 id="posts"><%= link_to post.title, post_path(post) %></h4>

          <h5><%= post.summary %><br>
          <%= post.post_date %></h5><br />
        </div>
        <% end %>

        <%= page_entries_info @posts %>
        <%= paginate @posts, window: 2 %>

      <% else %>

        <%= render partial: 'posts/post', locals: {posts: @posts} %>

      <% end %>
    </div>
  </section>

  <section class="col-1 first">
    <a class="twitter-timeline" data-height="700" href="https://twitter.com/world_macro">Tweets by world_macro</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </section>
</div>
