<div class="wrapper clearfix">



  <section class="col-4 first" id="news">
    <h4>
      <select>
        <option value="1">Bloomberg</option>
        <option value="2">Reuters</option>
        <option value="3">CNN</option>
      </select>
      <a href="http://bloomberg.com">
      Top Headlines</a></h4><br />

      <% Post.new.list_headlines.each do |k, v| %>
        <h5><a id="news" href="<%= v %>" target="_blank"><%= "#{k}" %></a></h5> --- <br />
      <% end %>

  </section>


  <section class="col-2">
    <div class="post-spacer">
      <div id="posts">
        <% if user_signed_in? && current_user.admin? %>
          <%= link_to "ADD NEW POST", new_post_path %>
        <% end %>
      </div>
      <% @posts.each do |post| %>
        <h4 id="posts"><%= link_to post.title, post_path(post) %></h4>
        <div class="thumbnail">
          <%= link_to image_tag(post.image.url(:med)), post.image.url %>
        </div>
        <h5><%= post.summary %><br>
        <%= post.post_date %></h5><br />
      <% end %>
    </div>
  </section>

  <section class="col-1 first">
    <a class="twitter-timeline" data-height="700" href="https://twitter.com/world_macro">Tweets by world_macro</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </section>
</div>
