<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <title>World Macro</title>
    <!-- <link rel="icon" href="/images/wmlogosymbol.png"> -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.0/normalize.min.css">
    <link rel="stylesheet" href="/stylesheets/bstpstyle.css">
    <link rel="stylesheet" href="/stylesheets/responsive.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/responsive.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
    <style>
      @import 'https://fonts.googleapis.com/css?family=Audiowide';
      </style>
  </head>
  <body>

    <!-- <div id="social">
      <a class="twit" href="http://twitter.com/world_macro" title="Twitter">Twitter</a>
      <a class="fbook" href="#" title="Facebook">Facebook</a>
      <!-- <a class="gplus" href="#" title="Google Plus">Google Plus</a> -->
    <!-- </div> --> -->

    <div class="fintimes">
      <header class="medium-fade">
        <div class="wrapper">
          <div id="logo" class="shadow">
            <h1>WORLD MACRO</h1>
            <h2>WORLD MACRO</h2>
            <div id="login">
              <a href="#">Login</a>
            </div>
            <div id="signup">
              <a href="#">Signup</a>
            </div>

          </div>
        </div><!-- .wrapper -->
        <div id="navbar" class="light-fade">
          <div class="wrapper">
            <nav class="clearfix">
              <a href="/">Home</a><a href="/positions">Trades</a><a href="#">Insights</a><a href="#">Game</a><a href="#">Contact</a><a href="https://www.federalreserve.gov/monetarypolicy/fomccalendars.htm" target="_blank">F.O.M.C.</a><a class="menu-icon">&#9776;</a>
            </nav>
          </div><!-- .wrapper -->
        </div><!-- #navbar -->
      </header>

      <div>
        <h2><%= @post.title %></h2>
        <h4>Summary:</h4>
        <p><%= @post.summary %></p>
        <p><%= @post.content %></p>
        <p><%= @post.post_date %></p>
        <%= link_to "Edit", edit_post_path(@post) %>
        <%= link_to "Delete", @post, method: :delete, data: { confirm: "Are you sure you want to delete this post?" } %>
      </div>
    </div>
  </body>
</html>
