<div class="col-md-12 trade-table">
  <table class="row-border">
    <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>


    <tr>
      <%= form_for Trade.new do |f| %>
      <td><%= f.radio_button :status, 'open', :checked => true %><%= f.label :status, 'open' %> <%= f.radio_button :status, 'closed' %><%= f.label :status, 'closed' %></td>

      <td><%= f.text_field :trade_date, placeholder: "Trade Date" %></td>

      <td><%= f.text_field :direction, placeholder: "Buy/Sell" %></td>
      <td><%= f.text_field :size, placeholder: "size" %></td>
      <td><%= f.text_field :product, placeholder: "product" %></td>
      <td><%= f.text_field :price, placeholder: "price" %></td>
      <td><%= f.text_field :current_price, placeholder: "Current Px" %></td><br />
      <td><%= f.text_field :target, placeholder: "target" %></td>
      <td><%= f.text_field :stop, placeholder: "stop" %></td>
      <td><%= f.text_field :risk, placeholder: "risk" %></td>
      <td><%= f.text_field :target_profit, placeholder: "target p/l" %></td>
      <td><%= f.text_field :realized, placeholder: "realized" %></td>
      <td><%= f.text_field :category, placeholder: "category" %>
    </td>
      <td><%= f.text_field :product_type, placeholder: "Product Type" %></td>

    </tr>
    </tbody>
  </table>
  <%= f.submit %>
  <% end %>
</div>
