<section class="col-7">
  <h2>All Trades</h2>
  <h3><%= link_to "Add New trade", new_trade_path %></h3>
    <!-- - <%= link_to "See all open positions", positions_path %> -->
    <table>

    <tr>
      <th>Trade ID</th>
      <th>Direction</th>
      <th>SIZE</th>
      <th>Product</th>
      <th>Execution Price</th>
      <th>Current Price</th>
      <th>Option Strategy</th>
      <th>Strategy Execution Px</th>
      <th>Strategy Current Px</th>
      <th>Trade Date</th>
      <th>Status</th>
      <th>P/L</th>
    </tr>
    <% @trades.each do |trade| %>
    <tr>
      <td><%= link_to trade.id, trade_path(trade) %>. </td>
      <td><%= trade.direction %></td>
      <td><%= trade.size %> </td>
      <td><%= trade.product %> </td>
      <td><%= trade.price %> </td>
      <td><%= trade.current_price %> </td>
      <td><%= trade.option_strategy %></td>
      <td><%= trade.strategy_price %></td>
      <td><%= trade.strategy_current_px %></td>
      <td><%= trade.trade_date %> </td>
      <td><%= trade.status %> </td>
      <td><%=  %></td>
      <td id="no-border"><%= link_to " Edit ", edit_trade_path(trade) %></td>
      <td id="no-border"><%= link_to " Delete ", trade, method: :delete, data: { confirm: "Are you sure you want to delete this trade?" } %></td>
      <br />
    </tr>
      <% end %>
    <br />
  </table>
</section>
<section class="col-3">

</section>
