<section class="col-5">
  <h1>All Trades</h1>
  <h3><%= link_to "Add New trade", new_trade_path %> - <%= link_to "See all open positions", positions_path %></h3>
    <table>

    <tr>
      <th>Trade ID</th>
      <th>Direction</th>
      <th>SIZE</th>
      <th>Product</th>
      <th>Execution Price</th>
      <th>Trade Date</th>
      <th>Current Price</th>
      <th>Status</th>
      <th>P/L</th>
    </tr>
    <% @trades.each do |trade| %>
    <tr>
      <td><%= link_to trade.id, trade_path(trade) %>. </td>
      <td><%= trade.direction %></td>
      <td><%= trade.size %> </td>
      <td><%= trade.product %> </td>
      <td><%= trade.price %> </td>
      <td><%= trade.trade_date %> </td>
      <td><%= trade.current_price %> </td>
      <td><%= trade.status %> </td>
    </tr>
      <% end %>
    <br />
  </table>
</section>
<section class="col-3">

</section>
