<div class="col-2">
  <h3>Trade Details</h2>
    <table>

    <tr>
      <th>Trade ID</th>
      <th>Direction</th>
      <th>SIZE</th>
      <th>Product</th>
      <th>Execution Price</th>
      <th>Trade Date</th>
      <th>P/L</th>
    </tr>
    <tr>
      <td><%= @trade.id %>. </td>
      <td><%= @trade.direction %> </td>
      <td><%= @trade.size %> </td>
      <td><%= @trade.product %> </td>
      <td><%= @trade.price %> </td>
      <td><%= @trade.trade_date %> </td>
    </tr>
    <br />
  </table>
  <%= link_to "Edit", trade_path(@trade) %>

  <%= link_to "Delete", @trade, method: :delete, data: { confirm: "Are you sure you want to delete this trade?" } %>
  <br />
  <h3><%= link_to "All positions", trades_path %></h3>

</div>
