<header class="medium-fade">
  <div class="wrapper">
    <div id="logo" class="shadow">
      <h1>WORLD MACRO<img src="wmlogosymbol.png"></h1>
      <h2>WORLD MACRO</h2>
      <% if user_signed_in? %>
        <div id="logout">
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          <div id="new_post">
            <%= link_to "View Profile", user_path(current_user) %>
          </div>
        </div>
        <% if user_signed_in? && current_user.admin? %>
          <div id="all_users">
            <%= link_to "All Users", users_path %>
          </div>
        <% end %>
      <% else %>
        <div id="twitter-login">
          <%= link_to "Sign in via Twitter", user_twitter_omniauth_authorize_path %>
        </div>
        <div id="login">
          <%= link_to "Login", new_user_session_path %>
        </div>
        <div id="signup">
          <%= link_to "Signup", new_user_registration_path %>
        </div>
      <% end %>
    </div>
  </div><!-- .wrapper -->

  <div id="navbar" class="light-fade">
    <div class="wrapper">
      <nav class="clearfix">
        <a href="/">Home</a><% if user_signed_in? %><%= link_to "Positions", trades_path %><% else %><%= link_to "Positions", new_user_registration_path %><% end %><a href="#">Performance</a><a href="/about">About</a><a href="/contact">Contact</a><a href="https://www.federalreserve.gov/monetarypolicy/fomccalendars.htm" target="_blank">F.O.M.C.</a><a class="menu-icon">&#9776;</a>
      </nav>
    </div><!-- .wrapper -->
  </div><!-- #navbar -->
</header>
